body.hs_body {
	min-width: 1910px;
    background-image: url('./ImgFolder/-_.png');
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Arial', sans-serif;
    position: relative; /* 背景画像の位置を調整するために使用 */
    
}

.horizontal-container-btn {
    display: flex;
    align-items: center; /* 수직 가운데 정렬 */
    justify-content: center; /* 수평 가운데 정렬 */
    margin-top: 50px;
    gap: 95rem; /* 요소 간의 간격 설정 */
}

.hs_body .enmusubi {
    width: 10rem;
}

.hs_body .menu-btn-1 {
    width: 5rem;
}

.horizontal-container-title {
    display: flex;
    flex-direction: column; /* 세로 방향으로 배치 */
    align-items: center; /* 수평 중앙 정렬 */
    gap: 1rem; /* h2와 img 사이의 간격 설정 */
    margin-top: 20px; /* 상단 마진 */
}

.hs_heading {
	font-size: 25pt;
    margin-top: -120px;
}

.btn-footer {
	margin-top: -50px;
    width: 23rem; /* 적절한 크기로 설정 */
}

.container.login {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hs_form {
	margin-top: 100px;
    background-image: url('./ImgFolder/BG.png');
    background-size: cover; /* 画像を完全に表示する */
    width: 40rem; /* フォームの幅を調整 */
    height: auto; /* フォームの高さを自動調整 */
    padding: 5rem; /* フォーム内の余白を設定 */
    text-align: center;

}

.hs_input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.hs_btn.line-login{
	color: black;
}

.hs_btn.line-login:hover {
            text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
        }

.hs_btn.reg{
	color: #DD2025;
}

.hs_btn.reg:hover {
            text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
        }

.hs_btn.login {
	background-color: #FFFBF7;
    color: black;
    border: 3px solid red;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.hs_btn.login:hover{
	background-color: #DD2025;
    color: #fff;
}

a {
    text-decoration: none;
}

a.hs_link {
    color: #e60012;
    font-weight: bold;
    text-decoration: none;
}

a.hs_link:hover {
    text-decoration: underline;
}

#additional-links {
    margin-top: 20px;
    text-align: center;
}