/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Body styling */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120vh;
  background-color: #fff5e6; /* 더 밝은 베이지 */
  margin: 0;
  padding: 0;
}

/* Form styling */
.hs_container {
  background-color: #fff5e6; /* 더 밝은 베이지 */
  padding: 30px;
  border-radius: 10px;
  border: 1px solid #8b0000;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  width: 400px;
  text-align: center;
}

.hs_title {
  color: #8b0000; /* もう少し黒い赤 */
  margin-bottom: 20px;
}

input,
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

#lineLoginButton {
  background-color: #00a84b; /* 라인 로그인의 녹색 */
}

button {
  background-color: #8b0000; /* もう少し黒い赤 */
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
  margin: 10px 0;
}

#profile {
  text-align: center;
  margin-top: 20px;
}

#userName {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

@media (max-width: 600px) {
  .hs_container {
    width: 90%;
  }

  button {
    font-size: 14px;
    padding: 10px;
  }
}
