.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
  width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: calc(50% - 10px); /* 入力欄は左半分を占める */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.button-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-group button {
  width: calc(33.33% - 10px); /* ボタンは右半分を占める */
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #4285f4;
  color: #fff;
  cursor: pointer;
}

button[type="submit"]:hover,
button#lineLoginButton:hover,
button.register-button:hover {
  background-color: #1c6ef2;
}
