@charset "UTF-8";
body {
  background-color: #fffbf7;
  margin: 0; /* == 기본 margin 제거 */
  height: 100vh; /* == 뷰포트 높이를 채우도록 설정 */
  /* 페이지 내용 중앙 배치 */
  display: flex;
  justify-content: center;
  align-items: center;
}

.yj-main {
  position: relative; /* 뷰포트 전체를 채우도록 설정 */
  height: 100vh;
  width: 100vw;
}

.yj-main-first-musubi {
  display: flex;
  justify-content: center;
  align-items: center;
}

.yj-main-first-musubi img {
  width: 100%;
}

/* 
.red-bar {
  background-color: red;
  height: 20px;
  animation: unroll 2s ease-in-out forwards;
}

@keyframes unroll {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}
*/

.yj-main-first-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
}

.yj-main-first-icon img {
  /* size */
  width: 10rem;
  height: 10rem;
  /* location */
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  /* style */
  border-radius: 100%;
  box-shadow: 0 5px 5px 5px #fd5356;
  /* animation */
  animation: float 2s ease-in-out infinite;
}

@keyframes float {
  0%,
  100% {
    transform: translate(0, 0%);
  }
  50% {
    transform: translate(0, 10%);
  }
}

.yj-main-first-scroll {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 200px;
}

.scroll-line {
  width: 5px;
  height: 100%;
  background-color: #dd2025;
}

.scroll-arrow {
  /* size */
  width: 5px;
  height: 5px;
  /* location */
  margin-left: -15px;
  margin-bottom: 150px;
  /* style */
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #dd2025;
  /* animation */
  animation: scroll-down 2s ease-in-out infinite;
}

@keyframes scroll-down {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(800%);
  }
}
