@charset "UTF-8";

.yj-main-body {
  font-family: "Noto Serif Jp", serif;
  background-color: #fffbf7;
  margin: 0; /* == 기본 margin 제거 */
  height: 100vh; /* == 뷰포트 높이를 채우도록 설정 */
  /* Prevent default scrolling (== 기본 스크롤 숨기기) */
  overflow: hidden;
}

.yj-main-section {
  /* 뷰포트 전체를 채우도록 설정 */
  height: 100vh;
}

/* 섹션 2~6 로고 */
.yj-main-logo {
  z-index: 4;
  width: 130px;
  height: 130px;
  position: absolute;
  top: 4rem;
  left: 5rem;
}

.yj-main-logo img {
  width: 100%;
  height: 100%;
  /* animation */
  animation: logo-float 2s ease-in-out infinite;
}

@keyframes logo-float {
  0%,
  100% {
    transform: translate(0, 0%);
  }
  50% {
    transform: translate(0, 5%);
  }
}

/* 센션 2~6 메뉴 */
.yj-main-menubox {
  position: absolute;
  top: 6rem;
  right: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 175px;
}

.yj-main-menu {
  z-index: 4;
  width: 70px;
  height: 70px;
  position: absolute;
}

.yj-main-menu img {
  width: 100%;
  height: 100%;
}

.yj-main-nav {
  transform: translateY(60px);
  background-image: url("imgFolder/yj-main-menu3.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 170px;
  height: 600px;
  flex-direction: column;
  align-items: center;
  z-index: 1000;
  justify-content: flex-start;
  position: relative;
}

.nav-logoDeco {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.nav-logoDeco img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.yj-main-nav a {
  color: rgb(50, 50, 50);
  text-decoration: none;
  text-align: center;
  font-size: 14px;
}

yj-main-nav a:visited {
  color: rgb(50, 50, 50);
  text-decoration: none;
}

.yj-main-nav a:hover {
  color: red;
  text-decoration: none;
  text-shadow: 0 0 3px #ffd0e9;
}

.yj-main-nav a:active {
  color: rgb(50, 50, 50);
  text-decoration: none;
}

.nav-login,
.nav-register,
.nav-productBF {
  /* 	height: 10px; */
  margin: 1px 0; /* 각 섹션의 마진을 동일하게 설정 */
}

.nav-hidden {
  display: none;
}

.nav-show {
  display: flex;
}

.nav-fakeDiv {
  height: 90px;
}

.nav-textDeco {
  font-size: 10px;
  color: #fd5356;
}

.nav-text {
  text-align: center;
  font-size: 10px;
  color: rgb(80, 80, 80);
  margin: 15px 0;
}

.nav-topBtn > a > img {
  width: 100%; /* Ensures the image fills the anchor tag */
  height: 100%;
  object-fit: contain;
}

.nav-yellowDeco {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3px 0;
}

.nav-yellowDeco > img {
  width: 150px;
  height: auto;
  object-fit: contain;
}

.nav-welcome {
  text-align: center;
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.nav-myPage {
  text-align: center;
  font-size: 14px;
  margin-top: -10px;
  margin-bottom: 5px;
}

.nav-myPageList {
  margin: -20px 0;
}

.nav-myPageList a {
  text-align: left;
  display: block; /* 각 링크를 블록 요소로 설정하여 세로로 나열 */
  margin: 10px 0; /* 각 링크 간격 조정 */
}

.nav-myPageList a h3 {
  font-weight: 600;
  font-size: 12px;
  color: rgb(90, 90, 90);
}

.nav-myPageList a h3:hover {
  font-weight: 600;
  font-size: 12px;
  color: #fd5356;
}

.nav-productAF {
  text-align: center;
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.nav-topBtn {
  width: 130px;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
}

.nav-topBtn > a {
  display: block;
  /* Ensures that the anchor tag behaves like a block element */
  width: 100%; /* Makes the anchor tag as wide as its container */
  height: 100%; /* Makes the anchor tag as tall as its container */
}

.nav-topBtn > a > img {
  width: 100%; /* Ensures the image fills the anchor tag */
  height: 100%;
  object-fit: contain;
}

.nav-logout {
  text-align: center;
  font-size: 14px;
  margin: 5px 0;
}

.nav-logout button {
  background-color: #ff6978; /* 핑크색 */
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 13px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 15px;
}

.nav-logout button:hover {
  background-color: #ff4356; /* 호버 시 색 변화 */
}

/* ////////// ////////// ////////// ////////// ////////// ////////// */
/* Section 1 */
#yj-main-s1 {
  background-image: url("imgFolder/yj-main-default-bg.png");
}

.yj-main-s1-musubi img {
  width: 100%;
}

.yj-main-s1-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
}

.yj-main-s1-logo img {
  /* size */
  width: 9rem;
  height: 9rem;
  /* style */
  border-radius: 100%;
  box-shadow: 0 5px 5px 5px #fd5356;
  /* animation */
  animation: s1-logo-float 2s ease-in-out infinite;
}

@keyframes s1-logo-float {
  0%,
  100% {
    transform: translate(0, 0%);
  }
  50% {
    transform: translate(0, 10%);
  }
}

.yj-main-s1-scroll {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 150px;
}

.s1-scroll-line {
  width: 5px;
  height: 100%;
  background-color: #dd2025;
}

.s1-scroll-arrow {
  /* size */
  width: 5px;
  height: 5px;
  /* location */
  margin-left: -15px;
  margin-bottom: 150px;
  /* style */
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #dd2025;
  /* animation */
  animation: scroll-down 2s ease-in-out infinite;
}

@keyframes scroll-down {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(800%);
  }
}

/* ////////// ////////// ////////// ////////// ////////// ////////// */
/* Section 2 */
#yj-main-s2 {
  z-index: 1;
  position: relative;
  background-image: url("imgFolder/yj-main-default-bg.png");
}

.yj-main-s2-cover {
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-image: url("imgFolder/yj-main-s2-img1.png");
  background: center;
  background-repeat: no-repeat;
}

.yj-main-s2-cover img {
  width: 100%;
  height: 100vh;
}

/* Slick slider arrows hidden */
.slick-prev,
.slick-next {
  display: none !important;
}

.yj-main-s2-cursor {
  z-index: 100;
  pointer-events: none;
}

.yj-main-s2-cursor-none {
  display: none;
}

.yj-main-s2-cursor-block {
  display: block;
  position: absolute;
  pointer-events: none;
}

.yj-main-s2-cursor img {
  width: 80px;
  height: 80px;
}

.yj-main-s2-list {
  z-index: 2;
  height: 100vh;
  display: flex;
  align-items: center;
}

.slick-initialized .slick-slide {
  display: flex !important;
}

.slick-track {
  height: 100vh;
}

.yj-main-s2-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  /* cursor: pointer; */
}

.yj-main-s2-img > img {
  max-width: 100%;
  max-height: 100%;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
}

/* ////////// ////////// ////////// ////////// ////////// ////////// */
/* Section 3 */
#yj-main-s3 {
  background-image: url("imgFolder/yj-main-default-bg.png");
  position: relative;
}

#verticalText1,
#verticalText2,
#verticalText3 {
  position: absolute;
  top: 55%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.4);
  color: rgb(225, 225, 225);
  z-index: 10;
  text-align: center;
  white-space: nowrap;
  writing-mode: vertical-rl;
  padding: 20px 10px;
  border-radius: 20px;
  opacity: 0;
  transition: opacity 0.5s ease;
}

#verticalText1 {
  left: 20%;
}

#verticalText2 {
  right: 19%;
}

#verticalText3 {
  top: 68%;
  right: 15%;
}

.vertical-text span {
  display: inline-block;
  transform: translateY(-100%);
  opacity: 0;
  animation: slideDown 0.5s ease forwards;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.yj-main-s3-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.yj-main-s3-img > img {
  max-width: 100%;
  max-height: 100%;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
}

.yj-main-s3-scroll {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 150px;
}

.s3-scroll-line {
  width: 5px;
  height: 100%;
  background-color: #dd2025;
}

.s3-scroll-arrow {
  /* size */
  width: 5px;
  height: 5px;
  /* style */
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #dd2025;
  /* location */
  margin-left: -15px;
  margin-bottom: 150px;
  /* animation */
  animation: scroll-down 2s ease-in-out infinite;
}

@keyframes scroll-down {
  0% {
    transform: translateY(300%);
  }
  100% {
    transform: translateY(800%);
  }
}

/* ////////// ////////// ////////// ////////// ////////// ////////// */
/* Section 4 */
#yj-main-s4 {
  z-index: 1;
  background-image: url("imgFolder/yj-main-default-bg.png ");
  display: flex;
  justify-content: center; /* 수평 중앙 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
  height: 100vh; /*Viewport의 높이를 100%로 설정 */
  position: relative; /* position을 relative로 설정 */
  overflow: hidden;
}

.yj-main-s4-cover {
  z-index: 3;
  position: absolute;
  pointer-events: none;
}

.yj-main-s4-cover img {
  width: 100vw;
  height: 100.5vh;
}

.yj-main-s4-flexContainer {
  z-index: 2;
  display: flex;
  flex-wrap: nowrap; /* Ensures items stay in a single row */
  overflow: hidden;
  /* Allows horizontal scrolling if content overflows */
  column-gap: 3rem;
  align-items: center;
}

.yj-main-s4-cursor {
  z-index: 100;
  pointer-events: none;
  transform: translate(-50%, -50%);
}

.yj-main-s4-cursor-none {
  display: none;
}

.yj-main-s4-cursor-block {
  display: block;
  position: absolute;
  pointer-events: none;
}

.yj-main-s4-cursor img {
  width: 80px;
  height: 80px;
}

.yj-main-s4-container {
  display: flex;
  flex-direction: column;
  /* Stack images vertically within each column */
  row-gap: 3rem;
  /* animation */
  animation: imgs-float 2s ease-in-out infinite;
}

.yj-main-s4-container img {
  max-width: 100%; /* Ensures images don't exceed their container width */
  height: auto; /* Maintains aspect ratio */
  /* transition */
  transform: scale(1);
  transition: all 1s ease-out;
}

.yj-main-s4-container img:hover {
  /* animation: none; */
  transform: scale(1.1);
}

@keyframes imgs-float {
  0%,
  100% {
    transform: translate(0, 0%);
  }
  50% {
    transform: translate(0, 1%);
  }
}

/* ////////// ////////// ////////// ////////// ////////// ////////// */
/* Section 5 */
#yj-main-s5 {
  background-image: url("imgFolder/yj-main-default-bg.png ");
  position: relative;
  overflow: hidden;
}

.yj-main-s5-bigCon {
  display: flex;
  justify-content: center;
  transform: translate(20%, 0);
}

.yj-main-s5-cursor {
  /* z-index: 100; */
  /* pointer-events: none; */
  display: none;
  position: absolute;
  width: 50px;
  border: 1px solid blue;
}

.yj-main-s5-cursor img {
  width: 80px;
  height: 80px;
  z-index: 999;
  position: absolute;
  left: 5px;
}

.yj-main-s5-container {
  /* size */
  width: 35rem;
  height: 100vh;
  background-color: #fff5f4;
  box-shadow: 0 5px 15px 5px #fd5356;
  overflow-y: overlay;
  position: relative;
  right: 5vw;
}

.yj-main-s5-invitation {
  width: 90%;
  margin: 0 auto;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 0);
}

/* ////////// ////////// ////////// ////////// ////////// ////////// */
/* Section 6 */
#yj-main-s6 {
  z-index: 1;
  background-image: url("imgFolder/yj-main-default-bg.png ");
  display: flex;
  justify-content: center; /* 수평 중앙 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
  height: 100vh; /*Viewport의 높이를 100%로 설정 */
  position: relative; /* position을 relative로 설정 */
  overflow: hidden;
}

.yj-main-s6-cursor {
  z-index: 100;
  pointer-events: none;
}

.yj-main-s6-cursor-none {
  display: none;
}

.yj-main-s6-cursor-block {
  display: block;
  position: absolute;
  pointer-events: none;
}

.yj-main-s6-cursor img {
  width: 80px;
  height: 80px;
}

.yj-main-s6-cover {
  z-index: 3;
  position: absolute;
  pointer-events: none;
}

.yj-main-s6-cover img {
  width: 100vw;
  height: 100.5vh;
}

.yj-main-s6-flexContainer {
  z-index: 2;
  display: flex;
  flex-wrap: nowrap; /* Ensures items stay in a single row */
  overflow: hidden;
  /* Allows horizontal scrolling if content overflows */
  column-gap: 3rem;
  align-items: center;
}

.yj-main-s6-cursor {
  z-index: 100;
  pointer-events: none;
  width: 80px;
  height: 80px;
  transform: translate(-50%, -50%);
}

.yj-main-s6-cursor-none {
  display: none;
}

.yj-main-s6-cursor-block {
  display: block;
  position: absolute;
  pointer-events: none;
}

.yj-main-s6-cursor img {
  width: 100%;
  height: 100%;
}

.yj-main-s6-container {
  display: flex;
  flex-direction: column;
  /* Stack images vertically within each column */
  row-gap: 3rem;
  /* animation */
  animation: imgs-float 2s ease-in-out infinite;
}

.yj-main-s6-container img {
  max-width: 100%; /* Ensures images don't exceed their container width */
  height: auto; /* Maintains aspect ratio */
  /* transition */
  transform: scale(1);
  transition: all 1s ease-out;
}

.yj-main-s6-container img:hover {
  /* animation: none; */
  transform: scale(1.1);
}

@keyframes imgs-float {
  0%,
  100% {
    transform: translate(0, 0%);
  }
  50% {
    transform: translate(0, 1%);
  }
}

/* ////////// ////////// ////////// ////////// ////////// ////////// */
/* Section 7 */
#yj-main-s7 {
  z-index: 1;
  background-image: url("imgFolder/yj-main-default-bg.png");
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.yj-main-s7-cover {
  z-index: 3;
  position: absolute;
  pointer-events: none;
}

.yj-main-s7-cover img {
  width: 100vw;
  height: 100.5vh;
}

footer {
  width: 100%;
  position: relative;
}

.yj-main-footer-content1 {
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 20px;
}

.footer-logo img {
  width: 150px;
  margin-bottom: 40px;
}

.footer-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.footer-nav a {
  margin: 5px 30px;
  color: #333;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}

.footer-nav a:hover {
  color: red;
  text-decoration: none;
  text-shadow: 0 0 3px #ffd0e9;
}

.yj-main-footer-content2 {
  position: absolute;
  bottom: -30px;
}

.footer-social {
  display: flex;
  justify-content: left;
  margin-left: 55px;
}

.footer-social a {
  margin: 0 10px;
  display: inline-block;
}

.footer-social a img {
  width: 20px;
  height: 20px;
}

.footer-links {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin-left: 50px;
  margin-top: 30px;
}

.footer-links a {
  margin: 5px 20px;
  color: #333;
  text-decoration: none;
  font-size: 12px;
}

.footer-links a:hover {
  font-weight: bold;
  text-decoration: none;
}

.footer-copyright {
  font-size: 10px;
  color: #666;
  margin-left: 70px;
  margin-top: 30px;
}

.footer-topBtn {
  width: 100px;
  position: absolute;
  bottom: -30px;
  right: 80px;
}

.footer-topBtn img {
  width: 100%;
  cursor: pointer;
}
