.yj-main-s2-menu {
  width: 80px;
  height: 80px;
  transition: opacity 0.5s ease;
}

.yj-main-s2-menu img {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 4;
}

.yj-main-s2-logo {
  z-index: 4;
  width: 150px;
  height: 150px;
  position: absolute;
  top: 3rem;
  left: 4rem;
}

.yj-main-s2-logo img {
  width: 100%;
  height: 100%;
  animation: logo-float 2s ease-in-out infinite;
}
@keyframes logo-float {
  0%,
  100% {
    transform: translate(0, 0%);
  }
  50% {
    transform: translate(0, 5%);
  }
}
.fakeDiv {
  height: 150px;
}

.onon {
  display: flex;
}

.nonnon {
  display: none;
}

.navi {
  transform: translateY(-30px);
  background-image: url("imgFolder/yj-main-default-menu2-2.png");
  background-size: cover;
  width: 175px;
  height: 670px;
  flex-direction: column;
  align-items: center;
}
