@charset "UTF-8";
body {
  height: 100vh; /* 전체 화면 높이 설정 */
  margin: 0; /* 기본 마진 제거 */
  overflow: hidden; /* 넘치는 부분 숨김 */
  background-color: #fffbf7;
}

.half-circle-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 54vw;
  border: 4px solid red;
  border-radius: 50vw 50vw 0 0;
  border-bottom: none;
  background-color: transparent;
}

.half-circle-bottom-second {
  position: fixed;
  bottom: 0;
  left: 1vw;
  width: 98vw;
  height: 53vw;
  background-color: transparent;
  border: 4px solid red;
  border-radius: 50vw 50vw 0 0;
  border-bottom: none;
}

.half-circle-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 54vw;
  border: 4px solid red;
  border-radius: 0 0 50vw 50vw;
  border-top: none;
  background-color: transparent;
}

.half-circle-top-second {
  position: fixed;
  top: 0;
  left: 1vw;
  width: 98vw;
  height: 53vw;
  background-color: transparent;
  border: 4px solid red;
  border-radius: 0 0 50vw 50vw;
  border-top: none;
}
