@charset "UTF-8";

@font-face {
  font-family: "Noto Serif JP", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  src: url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap");
}

body {
  margin: 0;
  padding: 0;
  background-image: url("imgFolder/surveyBackground-img.png");
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  width: 100%;
  position: relative;
  height: 100px; /* 헤더 높이 설정 */
}

/* 왼쪽 위 모서리에 위치할 이미지 */
.top-left {
  position: absolute;
  top: 2rem;
  left: 3rem;
  width: 6rem; /* 이미지 너비 */
  height: 6rem; /* 이미지 높이 */
}

/* 오른쪽 위 모서리에 위치할 이미지 */
.top-right {
  position: absolute;
  top: 3.5rem;
  right: 4rem;
  width: 3rem;
  height: 3rem;
}

.middle-title {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 5rem;
  font-size: 1.3rem;
  font-weight: bolder;
  font-family: "Noto Serif JP";
}

.middle-img {
  width: 15rem;
  height: 2rem;
}

.main-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
  font-size: 1rem;
}

.main-content-words {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Noto Serif JP";
}

.main-content-words > div:nth-child(2) {
  color: red;
}

.main-content-words > div:nth-child(3) {
  margin-top: 0.4rem;
  width: 30rem;
  height: 0.15rem;
}

.main-content-words > div:nth-child(4) {
  margin-top: 1rem;
  width: 20rem;
}

.survey-input {
  background-color: transparent;
  font-size: 0.8rem;
  margin-top: 1rem;
}
.survey-input > div {
  width: 70vw;
  height: 10vw;
}
.tg-slide-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
}
.slick-prev {
  left: 0;
}
.slick-next {
  right: 0;
}

.slick-initialized .slick-slide {
  justify-content: center;
  align-items: center;
}
