@charset "UTF-8";
* {
  font-family: "Noto Serif JP", serif;
}
body {
  background-color: #fffbf7;
  /* background-color: royalblue; */
  margin: 0;
  padding: 0;
}

form {
  display: contents;
}

/* invitation page */

#je_container-invitionPreview {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.je_content-invitationPreview {
/*   background-color: aqua; */
  width: 85vw;
  height: 100%;
  display: flex;
  justify-content: right;
  overflow-y: hidden;
  z-index: -1;
}

/* 버튼 */
a {
  text-decoration: none;
  color: #5c5c5c;
}

.je_previewBtns {
  position: absolute;
  top: 30%;
  left: 25%;
  writing-mode: vertical-lr;
}

.je_wishlistSet-btn {
  /* border: 1px solid; */
  margin-left: 0.5rem;
  margin-right: 3rem;
  font-size: 2rem;
  font-weight: 900;
  color: #5c5c5c;
}
.je_wishlistSet-btn:hover {
  color: #ff2828;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.je_wishlistSet-btn:not(hover) {
  transition: 0.3s ease-in-out;
}

.je_delete-btn,
.je_update-btn {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-size: 2rem;
  font-weight: 900;
}
.je_delete-btn > a:hover,
.je_update-btn > a:hover {
  color: #ff2828;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.je_delete-btn > a:not(hover),
.je_update-btn > a:not(hover) {
  transition: 0.3s ease-in-out;
}




/* 초대장 */
.je_invitation {
  /* background-color: #fffbf7; */
  width: 40rem;
  display: flex;
  justify-content: center;
  position: relative;
  overflow-y: scroll;
  box-shadow: 0rem 0rem 2rem #696969;
  margin-right: 0.7rem;
  z-index: 0;
}

.je_invitation:-webkit-scrollbar{	/* 스크롤바숨기기 크롬,사파리, 오페라, 엣지 */
	display: none;
}

.je_invitation > img {
  width: 100%;
  position: absolute;
  z-index: 0;
  top: 2rem;
  padding-bottom: 2rem;
}

/* 사진 */
.je_invitation-photo1 {
  /* background-color: red; */
  position: absolute;
  width: 89%;
  top: 15rem;
  height: 27.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

.je_photos {
/* background-color: red; */
/* top: 82.5rem;
   height: 17rem;*/
  display: flex;
  position: absolute;
  width: 89%;
  top: 80.5rem;
  height: 19rem;
  z-index: -1;
}
.je_invitation-photo2,
.je_invitation-photo3 {
  width: 50%;
}
.je_invitation-photo4 {
  /* background-color: red; */
    position: absolute;
    width: 89%;
    top: 122.5rem;
    height: 24.5rem;
    z-index: -1;
/*	top: 126.5rem;
 	height: 23.5rem; */ 
}
.je_invitation-photo1 img,
.je_invitation-photo2 img,
.je_invitation-photo3 img,
.je_invitation-photo4 img {
 width: 100%;
 height: 100%;
}


/* info */

.je_names {
  /* background-color: beige; */
  z-index: 999;
  margin-top: 53.5rem;
  height: 8rem;
}
.je_groom,
.je_bride {
  /* border: 1px solid; */
  height: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 600;
}

.je_invitaton-message {
    margin-top: 7.5rem;
    height: 11rem;
    width: 90%;
    align-content: center;
    font-size: 1.3rem;
    text-align: center;
    margin-left: 1.8rem;
}

.je_days {
  display: flex;
  justify-content: space-between;
  height: 3rem;
  margin-top: 23rem;
  margin-left: 4.2rem;
  margin-right: 4.2rem;
  font-size: 1.7rem;
  font-weight: 500;
}

.je_eventTimes {
  display: flex;
  justify-content: space-between;
  height: 3rem;
  margin-top: 0rem;
  margin-left: 4.2rem;
  margin-right: 4.2rem;
  font-size: 2rem;
  font-weight: 300;
}

.je_assembleTimes {
  display: flex;
  justify-content: space-between;
  height: 3rem;
  margin-top: 1rem;
  margin-left: 4.2rem;
  margin-right: 4.2rem;
  font-size: 1.6rem;
  font-weight: 200;
}

.je_buildings {
	display: flex;
    justify-content: space-between;
    height: 4rem;
    margin-top: 0rem;
    margin-left: 4.2rem;
    margin-right: 4.2rem;
    font-size: 1.6rem;
    font-weight: 200;
    text-wrap: balance;
}

.je_addrs {
  display: flex;
  justify-content: space-between;
  height: 3rem;
  margin-left: 4.2rem;
  margin-right: 4.2rem;
  font-size: 1.2rem;
  font-weight: 200;
}
.je_addrs > div {
  width: 8rem;
  margin-top: 0.2rem;
}
.je_sideEvent-building{
	text-align: right;
}
.je_sideEvent-addr {
  text-align: right;
}

.je_finish-message {
    margin-top: 26rem;
    height: 13rem;
    width: 90%;
    align-content: center;
    font-size: 1.3rem;
    text-align: center;
    margin-left: 1.6rem;
}
