@charset "UTF-8";
* {
  font-family: "Noto Serif JP", serif;
}
body {
  background-color: #fffbf7;
  /* background-color: royalblue; */
  margin: 0;
  padding: 0;
}

form {
  display: contents;
}

/* LOGO & NAV */

#yj-main-s2-logo {
  z-index: 4;
  width: 150px;
  height: 150px;
  position: absolute;
  top: 3rem;
  left: 4rem;
}

#yj-main-s2-logo img {
  width: 100%;
  height: 100%;
  animation: logo-float 2s ease-in-out infinite;
}

@keyframes logo-float {
  0%,
  100% {
    transform: translate(0, 0%);
  }
  50% {
    transform: translate(0, 5%);
  }
}

#yj-main-s2-menu {
  z-index: 4;
  width: 80px;
  height: 80px;
  position: absolute;
  top: 3rem;
  right: 5rem;
}

#yj-main-s2-menu img {
  width: 100%;
  height: 100%;
}

/* invitation page */

#je_container-invitionPreview {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.je_content-invitationPreview {
  /* background-color: aqua; */
  width: 85vw;
  height: 100%;
  display: flex;
  justify-content: right;
  overflow-y: hidden;
  z-index: -1;
}

/* 버튼 */
.je_previewBtns{
	position: absolute;
	top: 50%;
	left: 25%;
}

/* .je_wishlistSet-btn {
  position: absolute;
  top: 50%;
  left: 25%;
} */

/* 초대장 */
.je_invitation {
  /* background-color: #fffbf7; */
  width: 40rem;
  display: flex;
  justify-content: center;
  position: relative;
  overflow-y: scroll;
  box-shadow: 0rem 0rem 2rem #696969;
  margin-right: 0.7rem;
  z-index: 0;
}

.je_invitation > img {
  width: 100%;
  position: absolute;
  z-index: 0;
  top: 2rem;
  padding-bottom: 2rem;
}

/* 사진 */
.je_invitation-photo1 {
  /* background-color: red; */
  position: absolute;
  width: 89%;
  top: 15rem;
  height: 27.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

.je_photos {
  /* background-color: red; */
  display: flex;
  position: absolute;
  /* border: 1px solid; */
  width: 89%;
  top: 82.5rem;
  height: 17rem;
  z-index: -1;
}
.je_invitation-photo2,
.je_invitation-photo3 {
  width: 50%;
}
.je_invitation-photo4 {
  /* background-color: red; */
  position: absolute;
  width: 89%;
  top: 126.5rem;
  height: 23.5rem;
  z-index: -1;
}
.je_invitation-photo1 img,
.je_invitation-photo2 img,
.je_invitation-photo3 img,
.je_invitation-photo4 img {
 width: 100%;
 height: 100%;
}


/* info */

.je_names {
  /* background-color: beige; */
  z-index: 999;
  margin-top: 53.5rem;
  height: 8rem;
}
.je_groom,
.je_bride {
  /* border: 1px solid; */
  height: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 600;
}

.je_invitaton-message {
  margin-top: 9.5rem;
  height: 10rem;
  width: 100%;
  align-content: center;
  font-size: 1.3rem;
  text-align: center;
}

.je_days {
  display: flex;
  justify-content: space-between;
  height: 3rem;
  margin-top: 24rem;
  margin-left: 4.2rem;
  margin-right: 4.2rem;
  font-size: 1.7rem;
  font-weight: 500;
}

.je_eventTimes {
  display: flex;
  justify-content: space-between;
  height: 3rem;
  margin-top: 0rem;
  margin-left: 4.2rem;
  margin-right: 4.2rem;
  font-size: 2rem;
  font-weight: 300;
}

.je_assembleTimes {
  display: flex;
  justify-content: space-between;
  height: 3rem;
  margin-top: 1rem;
  margin-left: 4.2rem;
  margin-right: 4.2rem;
  font-size: 1.6rem;
  font-weight: 200;
}

.je_buildings {
  display: flex;
  justify-content: space-between;
  height: 3rem;
  margin-top: 1rem;
  margin-left: 4.2rem;
  margin-right: 4.2rem;
  font-size: 1.6rem;
  font-weight: 200;
}

.je_addrs {
  display: flex;
  justify-content: space-between;
  height: 3rem;
  margin-left: 4.2rem;
  margin-right: 4.2rem;
  font-size: 1.2rem;
  font-weight: 200;
}
.je_addrs > div {
  width: 8rem;
}
.je_sideEvent-addr {
  text-align: right;
}

.je_finish-message {
  margin-top: 31rem;
  height: 10rem;
  width: 100%;
  align-content: center;
  font-size: 1.3rem;
  text-align: center;
}
