.yj-main-s5-container {
  /* size */
  width: 35rem;
  height: 100vh;
  background-color: white;
  box-shadow: 0 5px 15px 5px #fd5356;
  overflow-y: overlay;
  position: absolute;
  right: 15rem;
}

.yj-main-s5-invitation {
  width: 90%;
  margin: 0 auto;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 0);
}