@charset "UTF-8";
 * {
	background-color: #fffbf7;
      }
.top-title-product {
	text-align: center;
    font-size: 2.5rem;
    margin-top: 2rem;
    padding: 1rem;
}
.content-product {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}
.product {
    width: 30rem;
    margin-right: 5rem;
    margin-left: 5rem;
}
.product-img {
    display: flex;
    justify-content: center;
    padding: 2rem;
    background-color: #d9d9d9;
    border-radius: 5%;
}
.product-img > img {
    width: 20rem;
}
.product-title {
    padding-left: 0.5rem;
    padding-top: 0.5rem;
    font-size: 1.5rem;
}