@import
	url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap')
	;

body {
	font-family: "Noto Serif JP", serif;
 	font-optical-sizing: auto;
 	font-weight: 400; /* 기본 폰트 두께를 지정 */
 	font-style: normal;
 	margin: 0;
 	padding: 0;
 	background-color: #FFF5F4;
}

.hs_background {
	background-image: url('ImgFolder/background-1.png'),
		url('ImgFolder/background-1-1.png');
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100vh;
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	background-repeat: no-repeat;
	background-position: top center;
	min-height: 1080px;
	min-width: 1920px;
	max-width: 1920px;
}

.yj-main-s2-logo {
	z-index: 4;
	width: 150px;
	height: 150px;
	position: absolute;
	top: 3rem;
	left: 4rem;
}

.yj-main-s2-logo img {
	width: 100%;
	height: 100%;
	animation: logo-float 2s ease-in-out infinite;
}

@keyframes logo-float {
  0%,
  100% {
    transform: translate(0, 0%);
  }
  50% {
    transform: translate(0, 5%);
  }
}

.yj-main-s2-menu {
	z-index: 4;
	width: 80px;
	height: 80px;
	position: absolute;
	top: 3rem;
	right: 5rem;
}

.yj-main-s2-menu img {
	width: 100%;
	height: 100%;
}

.hs_title {
	padding-top: 6%;
	font-size: 2rem;
	font-weight: bold;
	margin-bottom: 5rem;
	text-align: center;
}

.hs_mypage-menus {
	display: flex;
    justify-content: center;
    width: 55%;
    font-size: 15pt;
    text-align: center;
    margin: auto;
    margin-top: 5rem;
}

.hs_btn-container{
	display: block;
	
}

.hs_btn {
  text-decoration: none;
  color: #696969;
}

.hs_btn.me{
	color: #ff2828;
}

.yellow_line{
	width: 15rem;
	margin-bottom: 100px;
}

.hs_content-title-account, .hs_content-title-user {
	font-size: 1.5rem;
	border: 3px solid #FF7E81;
	text-align: left;
	flex-direction: column;
	margin: auto;
	width: 43rem;
	padding: 1.3rem;
	font-weight: bold;
	border-radius: 20px;
	background-color: #FFDBDB;
	position: relative;
	z-index: 3;
}

.hs_content-title-user {
	margin-top: 3rem;
}

.hs_container-input {
	position: relative;
	top: -1rem;
	border: 2px solid #FF7E81;
	border-radius: 20px;
	flex-direction: column;
	text-align: left;
	margin: auto;
	width: 43rem;
	background-color: #FFEEEE;
	padding-top: 1.5rem;
}

.hs_content-input {
	font-size: 1rem;
	display: flex;
	margin-left: 3rem;
	justify-content: flex-end;
	align-items: center; /* 수직 가운데 정렬 */
	margin-right: 2rem;
}

.hs_content-input.id {
	margin-top: 5rem;
	display: flex;
}

.hs_content-input.pw{
	margin-top: 3rem;
}

.hs_content-input.pw-confirm {
	margin-top: 2rem;
}

.hs_content-input.pw-confirm {
	padding-bottom: 1.5rem;
}

.hs_content-text {
	margin-right: 3rem;
	font-weight: bold;
	font-size: 1.3rem;
}

.hs_content-text.id, .hs_content-text.pw, .hs_content-text.pwconfirm {
	position: absolute;
	left: 0;
	margin-left: 3rem;
}

.hs_content-text.name, .hs_content-text.kana, .hs_content-text.rome,
	.hs_content-text.gender, .hs_content-text.post, .hs_content-text.prefecture,
	.hs_content-text.city, .hs_content-text.street, .hs_content-text.building,
	.hs_content-text.email, .hs_content-text.phone, .hs_content-text.birth
	{
	position: absolute;
	left: 0;
	margin-left: 3rem;
	margin-top: 2rem;
}

.hs_content-text.bd {
	margin-top: 2rem;
	margin-right: 1rem;
}

.hs_content-text.postmark {
	position: absolute;
	left: 0;
	margin-left: 18rem;
	margin-top: 2rem;
}

.hs_content-text.gender {
	margin-top: 1rem;
}

.hs_input {
	font-family: 'Noto Serif JP', serif;
	font-size: 1.2rem;
	width: 14.5rem;
	display: flex;
	height: 3rem;
	margin-right: 0.5rem;
	border: 1.5px solid #ccc;
	border-radius: 3px;
	position: relative;
	padding-left: 1rem;
}

.hs_input.pw, .hs_input.name, .hs_input.kana, .hs_input.rome, .hs_input.prefecture,
	.hs_input.city, .hs_input.street, .hs_input.building, .hs_input.email,
	.hs_input.phone {
	width: 22rem;
}

.hs_input.name, .hs_input.kana, .hs_input.rome, .hs_input.prefecture,
	.hs_input.city, .hs_input.street, .hs_input.building, .hs_input.email,
	.hs_input.phone, .hs_input.birth {
	margin-top: 2rem;
}

.hs_input.post {
	width: 18.5rem;
	margin-top: 2rem;
}

.radio-gender {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 22rem;
	margin-right: 1em;
	margin-top: 1rem;
}

.hs_input.gender {
	width: 1.3rem;
	font-size: 4rem;
}

.radio-gender.male {
	justify-content: center;
	align-items: center;
	text-align: center;
}

.hs_input.prefecture {
	width: 23.2rem;
	color: #828282;
}

.hs_input.birth {
	width: 4.85rem;
	padding-left: 0;
	text-align: center;
}

.hs_idcheck {
	width: 7rem;
	height: 3.2rem;
	margin-right: 0.5rem;
	border: 1px solid #C3C3C3;
	background-color: #FFDBDB;
	border-radius: 3px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
	font-family: 'Noto Serif JP', serif;
	font-size: 1rem;
	color: #828282;
	transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.hs_idcheck:active {
	transform: scale(0.95);
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.hs_content-input.building {
	margin-bottom: 4rem;
}

.hs_id-available {
	font-size: 1rem;
	margin-left: 0.5rem;
}

.btn-reg, .btn-back  {
	background-color: #FFEEEE;
	color: black;
	height: 3rem;
	width: 7rem;
	border: 2px solid #C82626;
	padding: 5px 15px;
	border-radius: 13px;
	cursor: pointer;
	box-shadow: 3px 5px 9px rgba(0, 0, 0, 0.2);
	transition: background-color 0.3s ease;
	font-family: 'Noto Serif JP', serif;
	font-weight: bolder;
	font-size: 1.1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: auto;
	margin-bottom: 4rem;
	display: flex;
}

.btn-reg-complete {
	background-color: #FF4C50; /* 완료 시 붉은 색 배경 */
	color: white; /* 흰색 텍스트 */
	transition: background-color 0.3s ease;
}

.btn-back:hover {
	background-color: #FF4C50;
	color: #fff;
}

.btn-box {
	display: flex;
	margin: auto;
	justify-content: space-between;
	width: 25rem;
	margin-top: 5rem;
}

.hs_footer{
	text-align: center;
}

.hs_footer-background {
	background-image: url('ImgFolder/background-2.png');
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100vh;
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	background-repeat: no-repeat;
	background-position: top center;
	margin-top: -55rem;
	min-height: 1080px;
	min-width: 1920px;
	max-width: 1920px;
}

.top-button {
	margin-top: 5rem;
	width: 200px;
}

.hs_content-input.id{
	margin-top: 3rem;
}

.hs_update-id {
    justify-content: center;
    position: absolute;
    left: 18rem;
    font-size: 1.4rem;
}