body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

.hs_container {
	width: 50%;
	margin: 50px auto; /* 上部に余白を追加して全体を中央に配置 */
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	background-color: #fff;
}

.hs_register-form {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.hs_title {
	font-size: 24px;
	text-align: center;
	margin-bottom: 20px;
}

.hs_form-group {
	display: flex;
	flex-direction: column;
}

.hs_form-group label {
	margin-bottom: 5px;
}

.hs_form-group input, .hs_form-group select {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 16px;
}

.hs_form-group input[type="radio"] {
	width: auto;
}

.hs_form-group input[type="text"][id^="postalCode1"], .hs_form-group input[type="text"][id^="postalCode2"]
	{
	width: 45%;
	display: inline-block;
}

.hs_form-group input[type="text"][id^="postalCode1"] {
	margin-right: 4%;
}

.hs_form-group input[type="text"][id^="birthYear"], .hs_form-group input[type="text"][id^="birthMonth"],
	.hs_form-group input[type="text"][id^="birthDay"] {
	width: 30%;
	display: inline-block;
}

.hs_form-group input[type="text"][id^="birthYear"], .hs_form-group input[type="text"][id^="birthMonth"]
	{
	margin-right: 5%;
}

button[type="submit"] {
	padding: 10px;
	font-size: 16px;
	background-color: #007BFF;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 20px;
}

button[type="submit"]:hover {
	background-color: #0056b3;
}