@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap');

@font-face {
    font-family: "Noto Serif JP", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    src: url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200&display=swap');
}

body {
    font-family: "Noto Serif JP", serif;
    margin: 0;
    padding: 0;
}

.yellowLines {
    width: 17.5rem;	
	
}
.ToGoTexts{
	font-size : 20px;
	font-weight: bold;
	color : #696969;
	
	
	
}

.recFundSpec-container{
	display : flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height : 195rem;
	 background-repeat : no-repeat;
	 background-color : #FFF5F4
}
 
.yj-main-section {
  /* 뷰포트 전체를 채우도록 설정 */
  height: 100vh;
}

/* 섹션 2~6 로고 */
.yj-main-logo {
  z-index: 4;
  width: 130px;
  height: 130px;
  position: absolute;
  top: 4rem;
  left: 5rem;
}

.yj-main-logo img {
  width: 100%;
  height: 100%;
  /* animation */
  animation: logo-float 2s ease-in-out infinite;
}

@keyframes logo-float {
  0%,
  100% {
    transform: translate(0, 0%);
  }
  50% {
    transform: translate(0, 5%);
  }
}

/* 센션 2~6 메뉴 */
.yj-main-menubox {
  position: absolute;
  top: 6rem;
  right: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 175px;
}

.yj-main-menu {
  z-index: 4;
  width: 70px;
  height: 70px;
  position: absolute;
}

.yj-main-menu img {
  width: 100%;
  height: 100%;
}

.yj-main-nav {
  transform: translateY(60px);
  background-image: url("../../../imgFolder/yj-main-menu3.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 170px;
  height: 600px;
  flex-direction: column;
  align-items: center;
  z-index: 1000;
  justify-content: flex-start;
  position: relative;
}

.nav-logoDeco {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.nav-logoDeco img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.yj-main-nav a {
  color: rgb(50, 50, 50);
  text-decoration: none;
  text-align: center;
  font-size: 14px;
}

yj-main-nav a:visited {
  color: rgb(50, 50, 50);
  text-decoration: none;
}

.yj-main-nav a:hover {
  color: red;
  text-decoration: none;
  text-shadow: 0 0 3px #ffd0e9;
}

.yj-main-nav a:active {
  color: rgb(50, 50, 50);
  text-decoration: none;
}

.nav-login,
.nav-register,
.nav-productBF {
  /* 	height: 10px; */
  margin: 1px 0; /* 각 섹션의 마진을 동일하게 설정 */
}

.nav-hidden {
  display: none;
}

.nav-show {
  display: flex;
}

.nav-fakeDiv {
  height: 90px;
}

.nav-textDeco {
  font-size: 10px;
  color: #fd5356;
}

.nav-text {
  text-align: center;
  font-size: 10px;
  color: rgb(80, 80, 80);
  margin: 15px 0;
}

.nav-topBtn > a > img {
  width: 100%; /* Ensures the image fills the anchor tag */
  height: 100%;
  object-fit: contain;
}

.nav-yellowDeco {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3px 0;
}

.nav-yellowDeco > img {
  width: 150px;
  height: auto;
  object-fit: contain;
}

.nav-welcome {
  text-align: center;
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.nav-myPage {
  text-align: center;
  font-size: 14px;
  margin-top: -10px;
  margin-bottom: 5px;
}

.nav-myPageList {
  margin: -20px 0;
}

.nav-myPageList a {
  text-align: left;
  display: block; /* 각 링크를 블록 요소로 설정하여 세로로 나열 */
  margin: 10px 0; /* 각 링크 간격 조정 */
}

.nav-myPageList a h3 {
  font-weight: 600;
  font-size: 12px;
  color: rgb(90, 90, 90);
}

.nav-myPageList a h3:hover {
  font-weight: 600;
  font-size: 12px;
  color: #fd5356;
}

.nav-productAF {
  text-align: center;
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.nav-topBtn {
  width: 130px;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
}

.nav-topBtn > a {
  display: block;
  /* Ensures that the anchor tag behaves like a block element */
  width: 100%; /* Makes the anchor tag as wide as its container */
  height: 100%; /* Makes the anchor tag as tall as its container */
}

.nav-topBtn > a > img {
  width: 100%; /* Ensures the image fills the anchor tag */
  height: 100%;
  object-fit: contain;
}

.nav-logout {
  text-align: center;
  font-size: 14px;
  margin: 5px 0;
}

.nav-logout button {
  background-color: #ff6978; /* 핑크색 */
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 13px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 15px;
}

.nav-logout button:hover {
  background-color: #ff4356; /* 호버 시 색 변화 */
}

#fundSpecProduct-img{
	
	margin-top: 7rem;
}
#fundSpecPro-img {
	
	
	width : 20rem;
}

#fundSpecProduct-name {
	
    font-size: 45px;
    height: 5rem;
    font-weight : 900;
    
}
#fundSpecProduct-rank {
    font-size: 30px;
    color: #FF2828;
    height: 3rem;
	margin-top: 2rem;
	font-weight : 700;
	
	
}

#fundSpec-leftPrice{
	font-size: 25px;
	font-weight : 600;
	color : #474747;
	
	
	
	
}
#fundSpec-lineShort{
	
	margin-top : 3rem;
	
}

#fundSpec-chartAlert{
		font-weight : 600;
	    margin-top: 3rem;
    font-size: 22px;
	color : #474747;
}
#fundSpec-inputDate{
		
		margin-top: 3rem;
    border: 1px solid #FF7E81;
    border-radius: 20px;
    width: 55rem;
    height: 8rem;
    align-content: center;
	
	
}
#startDate {
	    width: 15rem;
    height: 5rem;
    border-radius: 5px;
    text-align: center;
    font-size:27px;
    margin-left: 2.5rem;
    font-weight : 700;
}
#endDate {
	     width: 15rem;
    height: 5rem;
    border-radius: 5px;
    text-align: center;
    font-size:27px;
    font-weight : 700;
}
#submit{
	background-color: white;
    height: 3rem;
    margin-left: 5rem;
    font-family: "Noto Serif JP", serif;
    font-size : 1rem;
    
    padding: 0.625rem 1.25rem;
    background-color: #ffefef;
    border: 0.1875rem solid #c82626;
    text-align: center;
    border-radius: 0.9375rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    color: black;
    transition: background-color 0.3s, color 0.3s;
    
    
    
}
#priceChart {
    width: 55rem;
}
#fundSpec-dataBoard-container {
	    margin-top: 5rem;
    width: 50rem;
    height: 35rem;
	 border: 0.0625rem solid #ff7e81;
  border-radius: 1.875rem;
  padding: 1rem;
  margin-bottom: 1.25rem;
  background-color: #ffdede;
   max-height: 51rem; /* 필요한 높이로 조절 */
        overflow-y: scroll; /* 스크롤바 항상 표시 */
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* Internet Explorer 10+ */
}
#fundSpec-dataBoard-container::-webkit-scrollbar {
        width: 8px; /* 스크롤바 너비 설정 */
        background-color: rgba(0, 0, 0, 0.1); /* 스크롤바 배경 색상 설정 */
    }

    #fundSpec-dataBoard-container::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.5); 
        border-radius: 4px;
    }
#fundSpec-arrBtn{
	margin-bottom: 1rem;
    margin-top: 1rem;
    display : flex;
    justify-content: end;
    margin-right: 3rem;
	
}
.arrButtons {
    padding: 0.625rem 1.25rem;
    background-color: #ffefef;
    border: 0.1875rem solid #c82626;
    text-align: center;
    margin-left: -0.0625rem;
    border-radius: 10px;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    color: black;
    transition: background-color 0.3s, color 0.3s;
    font-weight : bold;
    font-size : 1rem;
    	
}
#byMoney {
	margin-right: 1rem;
	
	
}
.recSpecMemberInfos{
	
    width: 14rem;
    text-align: center;
	font-size : 20px;
		
	
}
.arrButtons:hover{
    background-color: #ff3b3f;
    color: white;
    border: 0.1875rem solid #c82626;
}
.arrButtons.active{
    background-color: #ff3b3f;
    color: white;
    border: 0.1875rem solid #c82626;
}
#fundSpec-dataBoard{
   
    font-size: 2rem;
	margin-left: 5rem;
}
#fundSpec-dataBoard-navi{
	
	 display: flex;
    justify-content: space-around;
    border: 1px solid #C8C8C8;
    border-radius: 10px;
    margin-bottom: 2rem;
    background-color: white;
    height: 3rem;
    align-items: center;
    width: 40rem;
    font-weight : bold;
}

#recSpecPriceAndDate{
    display: flex;
    justify-content: space-evenly;
   width: 40rem;
    border: 1px solid #C8C8C8;
    border-radius: 15px;
        margin-top: 1rem;
            background-color: white;
            font-size: 1.3rem;
    height: 3rem;
    align-items: center;
    font-weight : 500;
}

.recSpecReturn-img{
	
	margin-top : 5rem;
	
}
.recFundSpecLastImg {
	    height: 67rem;
    margin-top: -62.8rem;
    background-repeat: no-repeat;
}
