@charset "UTF-8";
@font-face {
    font-family: "Noto Serif JP", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    src: url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200&display=swap');
}

body {
    font-family: "Noto Serif JP", serif;
    margin: 0;
    padding: 0;
}

