@charset "UTF-8";
@font-face {
  font-family: "Noto Serif JP", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  src:url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap');
}
body {
  font-family:"Noto Serif JP", serif;
  margin: 0;
  padding: 0;
}

.recFund-container {
  width: 60rem;
  margin-left: 13rem;
  border: 1px solid black;
}
.recFund-title {
  margin-top: 3rem;
	margin-bottom : 14rem;
  font-size: 2.5rem;
}