@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap');

@font-face {
  font-family: "Noto Serif JP", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  src:url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap');
}
body {
  font-family:"Noto Serif JP", serif;
  margin: 0;
  padding: 0;
  height : 100%;
}
.recMain-container {
	 height: 100vh;
    background-image: url(../imgFolder/surveyBackground-img.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-repeat : no-repeat;
    background-size : cover;
}


.yj-main-s2-logo {
  z-index: 4;
  width: 150px;
  height: 150px;
  position: absolute;
  top: 3rem;
  left: 4rem;
}

.yj-main-s2-logo img {
  width: 100%;
  height: 100%;
  animation: logo-float 2s ease-in-out infinite;
}

@keyframes logo-float {
  0%,
  100% {
    transform: translate(0, 0%);
  }
  50% {
    transform: translate(0, 5%);
  }
}

.yj-main-s2-menu {
  z-index: 4;
  width: 80px;
  height: 80px;
  position: absolute;
  top: 3rem;
  right: 5rem;
}

.yj-main-s2-menu img {
  width: 100%;
  height: 100%;
}
#recMain-title {
        font-size: 30px;
    width: 16rem;
    margin-top: 7rem;
    margin-left: 2rem;
    font-weight : bold;
    color : #474747;
}
#recMain-header {
}
#header-img{
        width: 24rem;
      

}
.yellowLines {
    width: 17.5rem;	
	
}
.ToGoTexts{
	font-size : 20px;
	font-weight: bold;
	color : #696969;
	
	
	
	
}
.ToGoTexts:hover {
	color : #ff2828;
	
	
}
#recMain-content{
	   display: flex;
    margin-top: 2rem;
    width: 80rem;
    justify-content: space-evenly;
    margin-right : 3rem;
}
.box-img{
	    background-image: url(../imgFolder/opt_pink.png);
	        width: 20rem;
    height: 20.7rem;
    background-size: cover;
    background-repeat: no-repeat;
}	
.box-img:hover{
	
	    background-image: url(../imgFolder/opt_yellow.png);
	
	
}
.boxes{
    width: 21rem;
    position: absolute;
}
	
	

.box-img:hover .boxes, .box-img:hover .lines {
}

.lines{
    width: 10rem;
   
	    margin-left: 5.5rem;
    margin-top: 4rem;
	
}
.spaces {
	height : 0;
	
}
.texts {
        text-align: center;
        margin-top: 6rem;
    margin-left: 1.5rem;
}
.objective{
	font-size: 25px;
    width: 11rem;
    font-weight: bold;
    margin-left: 3rem;
    color : #474747;
    
	}

.genjyou{
	font-size : 22px;
	margin-top : 1.5rem;
	color : #696969;
	}