@charset "UTF-8";

@font-face {
  font-family: "Noto Serif JP", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  src:url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap');
}
body {
  font-family:"Noto Serif JP", serif;
  margin: 0;
  padding: 0;
  height : 100%;
}
.recMain-container {
	 height: 100vh;
    background-image: url(../imgFolder/surveyBackground-img.png);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mainbutton {

		width : 5rem;
}
#navi {
	width: 5rem;
    
}
#recMain-title {
        font-size: 2.5rem;
    width: 20rem;
    margin-top: 7rem;
    margin-left: 1.5rem;
}
#recMain-header {
	
}
#header-img{
        width: 24rem;

}
#recMain-content{
	   display: flex;
    margin-top: 14rem;
    width: 70rem;
    justify-content: space-evenly;
    margin-right : 6rem;
}
.box-img{
	
}	
.boxes{
    width: 17rem;
    position: absolute;
}
	
	

.box-img:hover .boxes, .box-img:hover .lines {
  transform: rotate(6deg);
}

.lines{
    width: 10rem;
    margin-left: 3.5rem;
	
}
.spaces {
	height : 0;
	
}
.texts {
        text-align: center;
        margin-top: 6rem;
    margin-left: 1.5rem;
}
.objective{
	font-size : 2.4rem;
	}

.genjyou{
	font-size : 1.3rem;
	margin-top : 1.5rem;
	color : darkslategrey;
	}