/* Google Fonts에서 폰트 가져오기 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap');

/* 공통 스타일 */
body {
  background-image: url('imgFolder/pageimg2.png');
  background-size: cover;
  background-attachment: scroll; /* 스크롤 시 배경 이미지도 함께 이동 */
  font-family: 'Noto Serif JP', serif; /* 가져온 폰트를 body에 적용 */
  margin: 0;
  padding: 0;
}

.hw_container {
  padding: 20px;
  border-radius: 10px;
  max-width: 1200px;
  margin: auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.logo, .menu {
  height: 50px;
}

.hw_title h1 {
  margin: 0;
  font-size: 24px;
}

/* hw_card 가운데 정렬 */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hw_card {
  text-align: center;
  margin: 20px 0;
  padding: 20px;
  border-radius: 10px;
}

.hw_card img {
  max-width: 100%;
  height: auto;
}

.hw_card_message {
  margin: 20px 0;
}

.hw_content, .hw_content_detail, .hw_content_absent {
  border: 1px solid red;
  border-radius: 30px;
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #ffdede; /* 변경된 백그라운드 컬러 */
}

/* 탭 스타일 */
.hw_tab_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}

.hw_tab_title {
  margin: 0;
}

.tab_bnt {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.hw_tab__item {
  padding: 10px 20px;
  cursor: pointer;
  background-color: #f1f1f1;
  border: 1px solid #ddd;
  text-align: center;
  margin-left: -1px; /* 탭 간 경계 없애기 */
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: black;
  transition: background-color 0.3s, color 0.3s;
}

.hw_tab__item:first-child {
  margin-left: 0; /* 첫 번째 탭의 좌측 마진 제거 */
}

.hw_tab__item a {
  text-decoration: none;
  color: inherit;
}

.hw_tab__item.active, .hw_tab__item:hover {
  background-color: #e74c3c; /* 붉은색 배경 */
  color: white; /* 흰색 글씨 */
  border: 1px solid #e74c3c; /* 붉은색 테두리 */
}

.hw_tab_content-wrapper {
  background-color: #ffdede;
  border: 1px solid #ddd;
  padding: 20px;
  width: 100%;
}

.hw_tab_content {
  display: none;
}

.hw_tab_content.active {
  display: block;
}

/* 테이블 스타일 */
.styled-table {
  border-collapse: separate;
  border-spacing: 0 10px; /* 세로 간격을 10px로 설정, 가로 간격은 0으로 설정 */
  margin: 25px 0;
  font-size: 18px;
  width: 100%;
  text-align: left;
  overflow-x: auto; /* 테이블이 삐져나가지 않도록 설정 */
}

.styled-table thead tr {
  background-color: white;
  color: #333;
  text-align: left;
  font-weight: bold;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
  border: 1px solid #ddd;
}

.styled-table tbody tr {
  background-color: white;
}

.top_button {
  display: block;
  margin: 20px auto;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

/* 더보기 버튼 스타일 */
.hw_more_button {
  background: none;
  color: white;
  text-shadow: 1px 1px 2px black;
  font-size: 16px;
  cursor: pointer;
  border: none;
  padding: 0;
  outline: none;
}
