<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <description></description>
    <display-name>Fund</display-name>
    <servlet-name>Fund</servlet-name>
    <servlet-class>com.enmusubi.funding.Fund</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Fund</servlet-name>
    <url-pattern>/Fund</url-pattern>
  </servlet-mapping>
  <display-name>en</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ss</display-name>
    <servlet-name>ss</servlet-name>
    <servlet-class>com.enmusubi.funding.ss</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ss</servlet-name>
    <url-pattern>/ss</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StatisticsTestController</display-name>
    <servlet-name>StatisticsTestController</servlet-name>
    <servlet-class>com.enmusubi.myPage.statistics.StatisticsTestController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StatisticsTestController</servlet-name>
    <url-pattern>/StatisticsTestController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>receivedFundingController</display-name>
    <servlet-name>receivedFundingController</servlet-name>
    <servlet-class>com.enmusubi.myPage.statistics.receivedFundingController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>receivedFundingController</servlet-name>
    <url-pattern>/receivedFundingController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>receivedMoneyController</display-name>
    <servlet-name>receivedMoneyController</servlet-name>
    <servlet-class>com.enmusubi.myPage.statistics.receivedMoneyController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>receivedMoneyController</servlet-name>
    <url-pattern>/receivedMoneyController</url-pattern>
  </servlet-mapping>
</web-app>