<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <description></description>
    <display-name>InvitationC</display-name>
    <servlet-name>InvitationC</servlet-name>
    <servlet-class>com.enmusubi.invitation.InvitationC</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InvitationC</servlet-name>
    <url-pattern>/InvitationC</url-pattern>
  </servlet-mapping>
  <display-name>en-musubi</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>TemplateC</servlet-name>
    <servlet-class>com.enmusubi.mytemplate.TemplateC</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>invitationRegC</servlet-name>
    <servlet-class>com.enmusubi.invitation.invitationRegC</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>TestC</display-name>
    <servlet-name>TestC</servlet-name>
    <servlet-class>com.enmusubi.invitation.TestC</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestC</servlet-name>
    <url-pattern>/TestC</url-pattern>
  </servlet-mapping>
</web-app>