
@font-face {
  font-family: "Noto Serif JP", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  src:url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap');
}

body {
  font-family:"Noto Serif JP", serif;
  margin: 0;
  padding: 0;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none
}
.kh-f-whole-container {
	overflow:hidden;
	height:100vh;
  display: flex;
  background-size: cover;
  background-color: #FFFBF7;
  
}
.kh-upper-line{
	width:100vw;
	position:absolute;
	top:0px;
	left:50%;
	transform:translate(-50%,0);
}
.kh-lower-line{
	width:100vw;
	position:absolute;
	bottom:0px;
	left:50%;
	transform:translate(-50%,0);
}
.kh-line-img{
	width:100%;
	height:100%;
	object-fit:cover;
}
.kh-f-container {
	width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.kh-f-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  position:relative;
}
.kh-head {
	width:90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top:3rem;
}
.kh-swaying {
  animation: swaying 1s infinite ease-in-out;
}
.kh-rotate {
  animation: rotate-axis 1s infinite ease-in-out;
  
}

@keyframes swaying {
  0% {
    transform: rotate(-0.5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-0.5deg);
  }
}
@keyframes rotate-axis {
  from {
    transform: perspective(800px) rotateY(0deg);
  }
  to {
    transform: perspective(800px) rotateY(30deg);
  }
}

.kh-f-img-box {
  width: 10rem;
}
.kh-f-des {
  display: flex;
  flex-grow: 1;
  font-size: 2rem;
  text-align: center;
}
.kh-f-input {
  width: 20rem;
  height: 4rem;
  border: none;
  border-bottom: 1px solid red;
  background: none;
  font-size: 2rem;
  text-align: center;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.kh-f-btn {
  width: 8rem;
  height: 8rem;
  border-radius: 100%;
  box-shadow: 2px 2px 2px 0px #bbbbbb;
  background-image: url("../img/confirm.png");
  background-size: cover;
}
.kh-f-btn:hover {
  cursor: pointer;
}
.kh-f-btn:active {
  background-image: url("../img/confirm(active).png");
  box-shadow: none;
}
.kh-f-product-box {
  display: flex;
  gap: 2rem;
}
.kh-f-product-des {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  text-wrap: nowrap;
}
@keyframes vibration {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}
.vibration {
  animation: vibration 0.1s infinite;
}
.kh-none {
  display: none;
}
.kh-show {
  display: block;
}
